$ModLoad imfile
$InputFileName {{ mysql_slow_log }}
$InputFileTag [mysql-slow]:
$InputFileStateFile stat-mysql-slow
$InputFileSeverity notice
$InputFileFacility local1
$InputRunFileMonitor
local1.* @@syslog.service.chinanetcloud.com:514